.button{
	&--primary{
		background-color: $color-black;
		border: 1px solid $color-black;
		color: $color-white;
		border-radius: 50px;
		padding: 10px 20px;
		font-size: $font-size-medium;
		font-family:  $font-family-base;
	}

	&--secondary{
		background-color: $color-white;
		border: 1px solid $color-black;
		color: $color-black;
		border-radius: 50px;
		padding: 10px 20px;
		font-size: $font-size-medium;
		font-family:  $font-family-base;
	}

	&--invite{
		background-color: $color-black;
		border: none;
		color: $color-white;
		border-radius: 50px;
		height: fit-content;
		padding: 10px;
		font-size: $font-size-small;
		text-transform: capitalize;
		font-family:  $font-family-base;
		line-height: $font-size-small;
	}

	&--add{
		background-color: $color-black;
		border: none;
		color: $color-white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 40px;
		font-family: $font-family-base;
		width: 50px;
		height: 50px;
		position: fixed;
		right: 7vw;
		bottom: 20%;
		z-index: 9999;
	}
}