.StudentCard--container{
	background-color: $color-white;
	border-radius: 15px;
	margin: 15px 0;
	box-shadow: -2px 3px 3px #00000070;
	text-transform: capitalize;
	cursor: pointer;

	&__heading{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-medium;
		padding: 15px;

		&.openedCard{
			border-bottom: 1px solid #aeaeae88;
		}

		.StudentCard--arrow{
			font-size: $font-size-large;
		}
	}
	
	&__body{
		padding: 15px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		font-size: $font-size-medium;

		svg{
			margin-right: 7px;
		}
	}
}

.ExerciseCard--container{
	background-color: $color-white;
	border-radius: 15px;
	margin-bottom: 30px;
	box-shadow: -2px 3px 3px #00000070;
	text-transform: capitalize;
	cursor: pointer;

	&__heading{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-medium;
		padding: 15px;

		&:not(.openedCard){
			&:hover{
				background-color: rgb(233, 233, 233);
				border-radius: 15px;
				svg{
					animation: wiggle 1s ease-in-out infinite;
				}
				
			}
		}

		.ExerciseCard--name{
			max-width: 90%;
		}

		&.openedCard{
			border-bottom: 1px solid #aeaeae88;
		}

		.ExerciseCard--arrow{
			font-size: $font-size-large;
		}
	}

	&__body{
		padding: 0 15px 15px;
		display: flex;
		flex-direction: column;
		font-size: $font-size-medium;

		&-row{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			margin-top: 15px;

			.switchComponent{
				margin-left: auto;
			}

			svg{
				margin-right: 7px;
			}
		}
	}
}

.NewExOptionCard--container{
	background-color: $color-white;
	border-radius: 15px;
	margin: 15px 0;
	box-shadow: -2px 3px 3px #00000070;
	cursor: pointer;

	&__heading{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-medium;
		padding: 15px;
		font-weight: bold;

		&.openedCard{
			border-bottom: 1px solid #aeaeae88;
		}
	}

	&__body{
		padding:15px;
		display: flex;
		flex-direction: column;
		font-size: $font-size-small;

		&-row{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			margin-top: 15px;
		}
	}
}


.ScoreCard--container{
	background-color: $color-white;
	border-radius: 15px;
	margin: 15px 0;
	box-shadow: -2px 3px 3px #00000070;
	cursor: pointer;

	&__heading{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-medium;
		padding: 15px;

		.ScoreCard--name{
			width: 70%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.ScoreCard--score{
			width: 25%;
			font-size: $font-size-small;
			text-align: center;
			word-wrap: break-word;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;
			align-items: center;
		}
	}
}


.exerciseTypeCard{
	background-color: $color-white;
	border-radius: 15px;
	margin: 10px 0;
	box-shadow: -2px 3px 3px #00000070;
	cursor: pointer;
	font-size: $font-size-medium;
	padding: 15px;
	text-align: center;
}

.PrivateExercise{
	opacity: 0.75;
	border: 1px dashed $color-grey-dark;
}


.ToDoExerciseCard--container{
	background-color: $color-white;
	border-radius: 15px;
	margin: 15px 0;
	box-shadow: -2px 3px 3px #00000070;
	text-transform: capitalize;
	cursor: pointer;

	&__heading{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-medium;
		padding: 15px;

		.ToDoExerciseCard--score{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			margin-left: 5%;
			justify-content: space-between;

			svg{
				margin-left: 10px;
			}
		}

		.ToDoExerciseCard--name{
			max-width: 85%;
		}

		&.openedCard{
			border-bottom: 1px solid #aeaeae88;
		}

		.ToDoExerciseCard--arrow{
			font-size: $font-size-large;
		}
	}

	&__body{
		padding: 0 15px 15px;
		display: flex;
		flex-direction: column;
		font-size: $font-size-medium;

		&-row{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			margin-top: 15px;

			svg{
				margin-right: 7px;
			}
		}
	}
}

@keyframes wiggle {
	0% {transform: rotate(15deg) scale(1.5); }
	15% {transform: rotate(-15deg) scale(1.5);}
	30% {transform: rotate(15deg) scale(1.5);}
	45% {transform: rotate(-15deg) scale(1.5);}
	60% {transform: rotate(0deg) scale(1.5);}
	100% {transform: rotate(0deg) scale(1.5);}
}