.StudentCard--container{
	background-color: $color-white;
	border-radius: 15px;
	margin: 15px 0;
	box-shadow: -2px 3px 3px #00000070;
	text-transform: capitalize;
	cursor: pointer;

	&__heading{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-medium;
		padding: 15px;

		&.openedCard{
			border-bottom: 1px solid #aeaeae88;
		}

		.StudentCard--arrow{
			font-size: $font-size-large;
		}
	}
	
	&__body{
		padding: 15px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		font-size: $font-size-medium;

		svg{
			margin-right: 7px;
		}
	}
}

.ExerciseCard--container{
	background-color: $color-white;
	border-radius: 15px;
	margin: 15px 0;
	box-shadow: -2px 3px 3px #00000070;
	text-transform: capitalize;
	cursor: pointer;

	&__heading{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-medium;
		padding: 15px;

		&.openedCard{
			border-bottom: 1px solid #aeaeae88;
		}

		.ExerciseCard--arrow{
			font-size: $font-size-large;
		}
	}

	&__body{
		padding: 0 15px 15px;
		display: flex;
		flex-direction: column;
		font-size: $font-size-medium;

		&-row{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			margin-top: 15px;

			.switchComponent{
				margin-left: auto;
			}

			svg{
				margin-right: 7px;
			}
		}
	}
}

.NewExOptionCard--container{
	background-color: $color-white;
	border-radius: 15px;
	margin: 15px 0;
	box-shadow: -2px 3px 3px #00000070;
	cursor: pointer;

	&__heading{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-medium;
		padding: 15px;
		font-weight: bold;

		&.openedCard{
			border-bottom: 1px solid #aeaeae88;
		}
	}

	&__body{
		padding:15px;
		display: flex;
		flex-direction: column;
		font-size: $font-size-small;

		&-row{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			margin-top: 15px;
		}
	}
}
