.stage--container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 50vh;
	width: 100%;
	flex-grow: 1;
	position: relative;

	#rek-1 {
		position: absolute;
		z-index: 100;
		bottom: -2.5vh;
		z-index: 100;
		left: 0%;
		transform: translate(-50%, 0) scaleX(-1);
		height: 10vh;
	}
	
	#rek-2 {
		position: absolute;
		z-index: 100;
		bottom: -2.5vh;
		z-index: 100;
		left: 100%;
		transform: translate(-50%, 0) ;
		height: 10vh;
	}

	&__column{
		display: flex;
		flex-direction: column-reverse;
		flex-grow: 1;

	}

	.stage--name{
		text-align: center;
		height: 30%;
		display: flex;
		span{
			margin: auto;
		}
	}

	.stage--bar{
		font-size: 15vh;
		display: flex;
		span{
			margin: auto;
		}
		&__second{
			background-color: rgb(245, 245, 245);
			height: 55%;
			//border-right: 1px solid $color-black;
		}
		&__first{
			background-color: $color-white;
			height: 70%;

		}
		&__thrid{
			background-color: rgb(245, 245, 245);
			height: 40%;
			//border-left: 1px solid $color-black;
		}
	}
}

@media only screen and (max-width: 600px) {
	.stage--container{
		height: 40vh;
		margin-top: 10vh;

		.stage--bar{
			font-size: 8vh!important;
		}
	}
}