@import '../_sass/abstracts/index';

.page{
    background-color: $color-yellow;
    .page-main{
        box-sizing: border-box;
        height: 100%;
    }
}

.page--content{
	box-sizing: border-box;
	padding: 8% 15% 15vh 15%;
	min-height: 100vh;
	position: relative;
}

.page--heading{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    .title{
        word-break: break-word;
        margin-right: 10px;
    }

    .button--container{
        margin-left: auto;
    }
}

@media only screen and (max-width: 600px) {
    .page--content{
        padding: 8% 8% 15vh 8%;
    }
  }