html {
    margin: 0;
    padding: 0;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    background-color: $color-yellow;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

main{
    max-width: 2000px;
    margin: 0 auto;
}

@media screen and (min-width: 1150px) {
    nav.mobilenav {
      display: none!important;
    }

    nav.webnav {
      display: flex!important;
    }
}

