.createExPage-container{
	box-sizing: border-box;
	padding: 7vw;
	min-height: 90vh;
	padding-bottom: 15vh;
	position: relative;
	display: flex;
	flex-direction: column;

	.createExPage--heading{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}

	.createExPage--options{
		height: 60vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	button{
		margin-top: 15px;
	}

	.createExPage--wasCreating{
		background-color: $color-white;
		border-radius: 15px;
		margin: 15px 0;
		box-shadow: -2px 3px 3px #00000070;
		padding: 15px;
		
		&__actions{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;

			button{
				min-width: 30%;
			}
		}
	}

	.CreateExercise--card{
		background-color: $color-white;
		border-radius: 15px;
		margin: 10px 0;
		box-shadow: -2px 3px 3px #00000070;
		cursor: pointer;
		font-size: $font-size-medium;
		padding: 15px;


		&__title{
			text-decoration: underline;
			font-size: 20px;
			font-weight: bold;
		}

		&__input{
			
			background-color: $color-grey-light;
			span{
				color: $color-black;
			}
		}

		&__difsetting{
			margin: 15px 0;
			font-size: $font-size-small;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;

			input{
				padding: 10px 5px;
				border: none;
				background-color: $color-grey-light;
				outline: none;
				z-index: 2;
				width: 10vw;
				margin-left: 15px;
				border-radius: 5px;
				text-align: center;

				&::placeholder{
					color: rgb(201, 201, 201);
				}
			}
		}

		&__gensetting{
			margin: 15px 0;
			font-size: $font-size-small;

			display: flex;
			flex-direction: column;
			flex-wrap: wrap;

			input{
				padding: 10px 5px;
				border: none;
				background-color: $color-grey-light;
				outline: none;
				z-index: 2;
				margin-top: 5px;
			}
		}
	}

	.CreateExercise--actions{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin-top: auto;



		button{
			min-width: 45%;
		}
	}
}