.createExPage-container{
	box-sizing: border-box;
	padding: 7vw;
	min-height: 90vh;
	padding-bottom: 15vh;
	position: relative;
	display: flex;
	flex-direction: column;

	.createExPage--heading{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}

	.createExPage--options{
		height: 60vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}