.createExPage-container{
	box-sizing: border-box;
	padding: 7vw;
	min-height: 90vh;
	padding-bottom: 15vh;
	position: relative;
	display: flex;
	flex-direction: column;

	.createExPage--heading{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}

	.createExPage--options{
		height: 60vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	button{
		margin-top: 15px;
	}

	.createExPage--wasCreating{
		background-color: $color-white;
		border-radius: 15px;
		margin: 15px 0;
		box-shadow: -2px 3px 3px #00000070;
		padding: 15px;
		
		&__actions{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;

			button{
				min-width: 30%;
			}
		}
	}
}