.FillInExercisePage{
	&--container{
		display: flex;
		justify-content: space-between;
		flex-direction: column;


		.slider{
			margin-top: 20px;
			box-sizing: border-box;
			padding: 0 5px;
			.slide{
				position: relative;
				background-color: $color-white;
				border-radius: 15px;
				margin: 10px 5px;
				box-shadow: -2px 3px 3px #00000070;
				cursor: pointer;
				font-size: $font-size-medium;
				padding: 15px;
				text-align: left;
				overflow: hidden;

				.slide--content{
					&__header{
						display: flex;
						flex-direction: row;
						align-items: center;

						&-instruction{
							font-weight: bold;
						}

						.slide--content__example{
							&-icon{
								width: 20%;
							}
							&-ex{
								flex-direction: column;
								padding: 15px;
								background-color: $color-white;
								z-index: 100;
								display: none;
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;

								button{
									margin: 25px auto;
								}
							}
						}
					}

					&__exercise{
						margin-top: 5vh;
					}
				}

				p{
					margin: 0;
					margin-bottom: 10px ;
				}
			}
		}
		

		&__actions{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			margin-top: auto;
			padding: 0 7vw;

			button{
				min-width: 45%;
			}
		}

	}

}