.homePage-container{
	.exercises--mapped__container{
		width: 100%;
	}

	.homePage--heading{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}
}

@media screen and (min-width: 1150px) {
    .exercises--container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-direction: row-reverse;

		.webFilters{
			display: flex;
			flex-direction: column;
			width: 60%;
			margin-left: 5%;
			height: fit-content;

		
		}
	}
}
