.login-container{
	box-sizing: border-box;
	height: 100%;
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	padding: 15vh 0 20vh 0;

	.login-logo{
		background-color: $color-white;
		display: flex;
		border-radius: 50%;
		height: 50vw;
		width: 50vw;
		flex-shrink: 0;

		img{
			margin: auto;
			max-width: 75%;
			max-height: 100%;
		}
	}

	.login-form{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.input--wrapper{
			width: 70%;
		}

		button{
			margin-top: 5vh;
		}

		.errorpopup{
			color: $color-red;
			font-size: $font-size-small;
			margin-top: 20px ;
		}
	}
}

@media screen and (min-width: 1025px) {
    .login-logo{
		width: 400px!important;
		height: 400px!important;
	}
}

